* {
	box-sizing: border-box;
	text-transform: uppercase;
}

.row {
	background-color: red;
	height: 2.5vh;
	text-align: center;
	vertical-align: middle;
}

.mid {
	height: 10vh;
	display: flex;
	flex-wrap: wrap;
}

.aside {
	width: 20%;
}

.main {
	width: 60%;
}
.mid * {
	text-align: center;
}

@media (max-width: 992px) {
	.left {
		width: 100%;
		order: 1;
	}
	.main {
		width: 80%;
	}
	.mid {
		height: 30vh;
	}
}

@media (max-width: 768px) {
	.aside,
	.main {
		width: 100%;
		height: 33.33%;
	}
	.right {
		order: 1;
	}
	.mid {
		height: 50vh;
	}
}

.header {
	background-color: #c7522a;
}

.left {
	background-color: #e5c185;
}

.right {
	background-color: #74a892;
}

.main {
	background-color: #fbf2c4;
}

.footer {
	background-color: #008585;
}
